{% extends 'base.html' %}

{% block title %}Неверный запрос - 400{% endblock %}

{% block content %}
<div class="main-container">
        <!-- Toolbar -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <button data-url="{% url 'order_modal_create' %}" class="btn btn-new-invoice open-order-modal">
                <i class="bi bi-plus fs-4 me-1"></i> Новый заказ
            </button>
            
            <div class="d-flex gap-2">
                <div class="search-container">
                    <i class="bi bi-search"></i>
                    <input type="text" class="form-control search-input" placeholder="Search invoice, client, amount...">
                </div>
                <select class="form-select status-select">
                    <option selected>All Status</option>
                    <option>Paid</option>
                    <option>Pending</option>
                </select>
            </div>
        </div>

        <!-- Table -->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Дата</th>
                        <th>Сумма</th>
                        <th>Товары</th>
                        <th>Статус</th>
                        <th>Адрес</th>
                        <th class="text-end">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %} 
                        <tr>
                            <td><a href="#" class="invoice-id">{{order.external_id}}</a></td>
                            <td class="text-muted small">{{order.created_at | date:"M d, Y"}}</td>
                            <td class="amount-cell">{{order.total_amount|floatformat:2}}₽</td>
                            <td class="count-cell">{{order.tems.count}}</td>
                            <td><span class="badge-custom status-{{ order.get_status_class }}">{{order.status}}</span></td>
                            <td class="text-muted small">{{order.address}}</td>
                            <td class="text-end">
                                <a href="{% url 'order_modal' order.id %}" class="open-order-modal">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation" class="d-flex justify-content-between align-items-center mt-4">
            <div class="text-muted small">
                
            </div>
            <ul class="pagination mb-0">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <i class="bi bi-chevron-left"></i>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>


<!-- Modal -->
{% include 'includes/base_modal.html' %}

{% endblock %}


